*{
    padding: 0;
    margin:0 ;
    font-family: 'Nunito Sans', sans-serif;
}

html { 
    -webkit-print-color-adjust: exact; 
    background-color: #F8F6F3;
}


div{
    box-sizing: border-box;
}

body{
    max-width: 100%;
    min-width: 100%; 
    box-sizing: border-box;
    background-color: #F8F6F3;
 
}

.container{
    max-width: 100%;
    min-width: 100%;

    box-sizing: border-box;
}

.containerData{
    width: 100%;
    padding-left: 90px;
    padding-right: 90px;
    background-color: #F8F6F3;
    box-sizing: border-box;
   
}


/* --------------------------------------- Header  --------------------------------------- */

.containerHeaderPDF{
    width: 100%;
    max-height: 7.5vh;
    min-height: 7.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D85127;
    padding-top: 0.5vh ;
    padding-left: 90px;
    padding-right: 90px;
    box-sizing: border-box;

}

.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.textLogo{
    color: #ffffff;
    font-weight: 500;
    font-size: 10px;
    margin-left: 15px;
}

.imgLogo{
    width: 100px;
    height: 100px;
}

.siteHeader{
    color: #ffffff;
    transform: translateY(100%);
    font-size: 12px;
}

.redLine{
    min-height: 0.5vh;
    background-color: #C82026;
}

/* --------------------------------------- footer --------------------------------------- */

.footerPage{
    margin-top:13.5px;
    max-height: 3vh;
    min-height: 3vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footerData{
    padding-top: 0.3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
}


/* --------------------------------------- Terra indigena --------------------------------------- */


.indigenousLandImage{
    width: 100%;
    max-height:39.5vh;
    min-height:39.5vh;
    padding-top: 1vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.titleIndigenousLand{
    height: 100%;
    font-size:35px;
    font-weight: 300;
}

.titleIndigenousLandBold{
    height: 100%;
    font-weight: 900;
}

.alingImageIndigenousIsland{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.source{
    color: #534743 ;
    font-size: 10px;
}

/* --------------------------------------- Dados do territorio --------------------------------------- */

.containerTerritoryData{
    width: 100%;
    max-height: 16vh;
    min-height: 16vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.containerTitleTerritoryData{
    width: 100%;
    padding-bottom: 1vh;
}

.titleTerritoryData{
    color: #D85127;
    font-weight: 900;
    font-size: 15px;
}

.lineGray{
    width: 100%;
    min-height: 1px;
    max-height: 1px;
    background-color: #968D87;
}


.dataTerritoryData{
    margin-top: 0.5vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.containerItemData{
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.textItemData{
    font-size: 12px;
    color: #1D140F;
}

.dataWithLineItemData{
    width: 100%;
    margin: 8px;

}

.imgItemData{
    width: 20px;
    height: 20px;
}

.lineBeige{
    min-width: 100%;
    min-height: 0.5px;
    background-color: #C2BCB8 ;
}

/* --------------------------------------- Ameaças e alertas --------------------------------------- */

.containerThreatsAndAlerts{
    max-height: 32vh;
    min-height:32vh;
    padding-top: 2px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
 
}

.containerTitleThreatsAndAlerts{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.containerImgWithTypeAlert{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    color: #2f2726;
    margin-bottom: 8px;
}

.titleThreatsAndAlerts{
    color: #D85127;
    font-weight: 900;
    font-size: 15px;
}

.imgTitleThreatsAndAlerts{
    width: 25px;
}

.dataContainerThreatsAndAlerts{
    width: 100%;
    display: flex;
    height:25vh;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.dataThreatsAndAlerts{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.deforestationThreatsAndAlerts{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color:#2f2726 ;
}

.lineGrayThreatsAndAlerts{
    height: 80%;
    background-color: #968D87;
    border-radius: 10px;
    color: #968D87;
    margin-left: 10px;
    margin-right: 10px;
}

.doughnutGraph{
    width: 100%;
    height: 100%;
}

.containerBallThreatsAndAlerts{
    display: flex;
    align-items: center;
    font-size: 10px;
    color: #2f2726;
}

.containerDoughnutGraph{
    width:200px;
    height:200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sourceThreatsAndAlerts{
    margin-top: 25px;
    font-size: 10px;
}

.greenBall{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0c6b4b;
    margin-right: 5px;
}

.orangeBall{
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color: #d85127;
    margin-right: 5px;
}

.containerBallDoughnut{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.titleDeforestationThreatsAndAlerts{
    font-size: 13px;
    align-self: flex-start;
    color: #2f2726;
}

/* --------------------------------------- 3° pagina --------------------------------------- */

.fireRisk {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20px;

  }
  .fireRisk > p {
    color: gray;
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
  .fireRiskGradiente {
    display: flex;
    min-width: 100%;
    min-height:20px ;
    align-items: center;
    justify-content: space-around;
    padding: 2px;
    border: 2px solid #ffffff;
    border-radius: 10px;

    background: rgb(58,151,80);
    background: linear-gradient(90deg, rgba(58,151,80,1) 0%, rgba(251,182,86,1) 50%, rgba(218,38,38,1) 100%);
  }
  .arrowContainer {
    position: relative;
    width: 50%;
    top: -13px;
  }
  .arrowFireRisk {
    height: 0.8rem;
    width: 0.8rem;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.5rem solid #1D140F;
    position: absolute;
  }